<ion-header [translucent]="true" style="background-color: #E4A063;">
  <ion-grid>
    <ion-row>
      <ion-col size="9" push="3"><br> ไมมูเนาะห์ เครปญี่ปุ่นไส้ทะลัก <br>
                                  (Maimunah, Japanese crepe)</ion-col>
      <ion-col size="3" pull="9"><a href="/tabs/tab2"><img class="pic" src="../../assets/pic/logo.png" alt="กลับไปหน้าล็อกอิน"></a></ion-col>
    </ion-row>
  </ion-grid>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-card style="background-color: #C49871;">
    <ion-item class="detail">
      <ion-card class="qdetail">
        <h5>001</h5>
      </ion-card>

    </ion-item>
  </ion-card>


  <ion-button class="success" shape="round" size="large" color="dark" (click)="goToqueueback()">เสร็จสิ้น</ion-button>

</ion-content>
